@{ 
    ViewData["Title"] = "Home";
    Layout = "_Layout";
}
<section class="homePageContainer justify-content-center">
    <article  class="contextBoxRestricted text-light">
        <div class="d-flex pb-2"><h1>The Star Wars Fan Club Welcomes You!</h1></div>
        <p class="d-flex">
            This is a place for nerds to hangout and gawk over the beauty of the diverse ecosystems and
            sci-fi elements in the cinematic universe created by the lord himself, George Lucas.
        </p>
    </article>
</section>

