@{ 
    ViewData["Title"] = "Home";
}<section class="d-flex justify-content-center">
    <div class="d-flex contextBoxRestricted">
        <h1 class="pb-4">The Star Wars Fan Club Welcomes You!</h1>
        <p>
            This is a place for nerds to hangout and gawk over the beauty of the diverse ecosystems and
            sci-fi elements in the cinematic universe created by the lord himself, George Lucas.
        </p>
    </div>
</section>

