@{ 
    ViewData["Title"] = "Home";
    Layout = "_Layout";
}
<section class="pageContainerCenter justify-content-center">
    <article class="contextBoxRestricted text-light">
        <div class="d-flex p-4 justify-content-left"><h1 class="homePageHeader">The Star Wars Fan Club Welcomes You!</h1></div>
        <p class="d-flex mb-5 p-4 homePageParagraph">
            From diverse ecosystems to
            original sci-fi elements, the Star Wars universe, created by none other than the legend himself, George Lucas, almost single-handedly moved the sci-fi space genre into the mainstream culture.
            As such, this site exists for the purpose of nerding out, posting about, and gawking over the cinematic behmoth that is Star Wars.
        </p>
        <div class="d-flex p-4 justify-content-left">
            <div class="pageSelectorContainer">
                <p class="d-flex pt-2">
                    Please select an option from the dropdown menu to visit more of our site!
                </p>
            </div>
            <div class="dropdown">
                <button class="dropdownMenuButton btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Go to
                </button>
                <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                    <a class="dropdown-item" asp-action="History">History</a>
                    <a class="dropdown-item" asp-action="Contact">Contact List</a>
                </div>
            </div>
        </div>
    </article>
</section>

