
/*CONTAINERS AND TEXT STYLES*/
.homePageContainer {
    width: 100%;
    display: flex;
}

.contextBoxRestricted {
    margin-top: 25%;
    margin-bottom: 30%;
}

.pageHeaderCustom {
    font-family: 'FuturaPT-Bold';
    font-size: 30pt;
    letter-spacing: 0.5px
}

.pageParagraph {
    font-family: 'FuturaPT-Book';
    font-size: 15pt;
}

.pageSelectorContainer {
    font-family: 'FuturaPT-Book';
    font-size: 12pt;
    width: 50%;
}

.darkParagraphBackground {
    background-color: rgba(125,125,125,0.8);
}

/* BUTTON STYLES*/
.dropdownMenuButton {
    background: transparent;
    border-width: medium;
    border-color: white;
    font-family: 'FuturaPT-Light';
    font-size: 15pt;
    padding: 8px 30px;
}


