
/*CONTAINERS AND TEXT STYLES*/
.homePageContainer {
    width: 100%;
    display: flex;
}

.contextBoxRestricted {
    margin-top: 25%;
    margin-bottom: 30%;
}

.homePageHeader {
    font-family: 'FuturaPT-Bold';
    font-size: 30pt;
    letter-spacing: 0.5px
}

.homePageParagraph {
    font-family: 'FuturaPT-Book';
    font-size: 15pt;
}

.homePageParagraph2Container {
    font-family: 'FuturaPT-Book';
    font-size: 12pt;
    width: 50%;
}

.homePageParagraph {
}

/* BUTTON STYLES*/
.dropdownMenuButton {
    background: transparent;
    border-width: medium;
    border-color: white;
    font-family: 'FuturaPT-Light';
    font-size: 15pt;
    padding: 8px 30px;
}

/*OVERWRITTING BACKGROUND STYLES*/
.pageContainer2 {
    min-height: 100% !important;
    background-image: url(http://getwallpapers.com/wallpaper/full/e/7/3/34863.jpg);
    background-size: cover;
    background-repeat: no-repeat;
}
