@{
    ViewData["Title"] = "Getting Started";
}
<h1>Welcome to the Tech Thread</h1>
<br />
<p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt 
    ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci tation 
    ulLorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut 
    laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci tation 
    ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo consequat. Duis autem vel eum iriure dolor 
    in hen</p>

<span class="line-style-GOES-HERE"></span>

<a asp-controller="About" asp-action="GettingStarted" class="navigationButton btn btn-light btn-small active mr-4" role="button" aria-pressed="true">Getting Started with Thread Engine</a>
<br />
<a asp-controller="About" asp-action="AdvancedFeatures" class="navigationButton btn btn-light btn-small active mr-4" role="button" aria-pressed="true">Explore Thread Engine's Features</a>