@{
    ViewData["Title"] = "Getting Started";
}
<section>
    <h1 class="universalPageTitleStyle">Welcome to the Future of Blogging</h1>
    <br />
    <p>
        Thread engine is an experimental project aimed at creating a central online social network for 
        bloggers. In this project, blogs, which we have coined "Threads", contain a public-facing profile about a user's interests,
        blogging category, and posts. Users of the site can view your posts and comment on them in a forum-style discussion style, similar to
        platforms such as Reddit. Additionally, creating a Thread is free and, by copying the URL to your profile, you can share
        your content with the rest of the world. So go ahead and try it out!
    </p>

    <span class="line-style-GOES-HERE"></span>
    <div class="d-flex">
        <a asp-controller="About" asp-action="GettingStarted" class="navigationButton btn btn-light btn-small active mr-4" role="button" aria-pressed="true">Getting Started with Thread Engine</a>
        <a asp-controller="About" asp-action="AdvancedFeatures" class="navigationButton btn btn-light btn-small active mr-4" role="button" aria-pressed="true">Explore Thread Engine's Features</a>
    </div>
</section>
