
@{
    ViewData["Title"] = "Advanced Features";
}

<h1 class="universalPageTitleStyle">Advanced Features</h1>
<div>
    <dl class="row">
        <dt class="col-sm-3">Custom Searches</dt>
        <dd class="col-sm-9">Intelligent search algorithm capable of displaying results based off user and thread names.</dd>
        
        <dt class="col-sm-3 text-truncate">Thread Management</dt>
        <dd class="col-sm-9">Ability to add, remove, and edit custom Thread posts and update Thread profile information.</dd>
        
        <dt class="col-sm-3">Post Interactions</dt>
        <dd class="col-sm-9">User and community driven interactions on thread posts via replying.</dd>
    </dl>
</div>

