
@{
    ViewData["Title"] = "Getting Started";
}

<h1 class="universalPageTitleStyle mb-4">Getting Started with Thread Engine</h1>
<div>
    <h3>Creating a Thread</h3>
    <p>
        To create a custom thread, first ensure you are signed up as a user. To do this head over to the
        sign in page to <a asp-controller="MyBlog" asp-action="Index">login</a> or <a asp-controller="MyBlog" asp-action="SignUp">create an account</a>.
        For first time users, you will be prompted to create a Thread, in which case you will enter all the required profile information.
    </p>
    <br />
    <h3>Using the Dashboard</h3>
    <p>
        Once you have built your Thread, as detailed above, you will be redirected to the Thread dashboard. This
        screen is important for two reasons: one, it allows you to manage your Thread profile, and, two, allows you to make posts.
        To edit your Thread profile, which allows you to change your existing profile title (provided that the name isn't taken), category, and bio.
        For more information on posting, read the next section.
    </p>
    <br />
    <h3>Adding, Removing, and Modifying Posts</h3>
    <p>
        From the Thread dashboard, select the "modify posts" button in the MyBlog dashboard.
        To add a post, enter the post information in the right hand column, such as the title and content,
        then click the "add post" button. You will then be directed to redirected to your profile overview.
        From the dashboard home, you can repeat this process to add another post. Alternatively, you can also click the
        "modify posts" button to utilize the edit and remove buttons on the left-hand side of the post dashboard,
        which shows all of your current Thread posts.
    </p>
</div>