@{
    ViewData["Title"] = "Home";
}
@{ int numberOfCategories = ThreadCategories.NumberOfCategories(); }
<h1>Home Page</h1>
<br />
<h3 class="mr-3">Discover threads that interest you!</h3>

<div class="dropdown">
    <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenu2" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        Dropdown
    </button>
    <div class="dropdown-menu" aria-labelledby="dropdownMenu2">
        @{
            for (int i = 0; i < numberOfCategories; i++)
            {
                <button class="dropdown-item" type="submit" value=@ThreadCategories.GetCategory(i)> @ThreadCategories.GetCategory(i) </button>
            }
        }
    </div>
</div>

