@{
    ViewData["Title"] = "Home";
}
@{ int numberOfCategories = ThreadCategories.NumberOfCategories(); }
<section>
    <h1 class="mt-5 mb-5 universalPageTitleStyle">Home Page</h1>
    <div class="d-flex mb-3">
        <h3 class="pr-5">Discover threads that interest you!</h3>

        <div class="dropdown">
            <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenu2" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Dropdown
            </button>
            <div class="dropdown-menu" aria-labelledby="dropdownMenu2">
                @{
                    for (int i = 0; i < numberOfCategories; i++)
                    {
                        <button class="dropdown-item" type="submit" value=@ThreadCategories.GetCategory(i)> @ThreadCategories.GetCategory(i) </button>
                    }
                }
            </div>
        </div>
    </div>


    <article id="[thread name]" class="bg-secondary profileContainer mb-3">
        <div class="innerContentContainer d-flex p-4 text-light">
            <img class="maxSize profileImageStyle img-thumbnail" src="https://theofficeanalytics.files.wordpress.com/2017/11/dwight.jpeg?w=1200" alt="" />
            <div class="pl-4">
                <h1 id="userName" class="pb-2"><a class="text-light" href="#">[name of thread]</a></h1>
                <div class="text-white">
                    [Name of Creator]
                    <span class="pr-2">&nbsp;</span>
                    [Topic]
                </div>
            </div>
            <div class="d-flex favoritesContainer justify-content-end text-light">
                <a class="mt-2 editProfileButton btn text-dark btn-light btn-md active" role="button" aria-pressed="true" href="#">Favorite this?</a>
            </div>
        </div>
    </article>

    <article id="[thread name]" class="bg-secondary profileContainer mb-3">
        <div class="innerContentContainer d-flex p-4 text-light">
            <img class="maxSize profileImageStyle img-thumbnail" src="https://theofficeanalytics.files.wordpress.com/2017/11/dwight.jpeg?w=1200" alt="" />
            <div class="pl-4">
                <h1 id="userName" class="pb-2"><a class="text-light" href="#">[name of thread]</a></h1>
                <div class="text-white">
                    [Name of Creator]
                    <span class="pr-2">&nbsp;</span>
                    [Topic]
                </div>
            </div>
            <div class="d-flex favoritesContainer justify-content-end text-light">
                <a class="mt-2 editProfileButton btn text-dark btn-light btn-md active" role="button" aria-pressed="true" href="#">Favorite this?</a>
            </div>
        </div>
    </article>

    <article id="[thread name]" class="bg-secondary profileContainer mb-3">
        <div class="innerContentContainer d-flex p-4 text-light">
            <img class="maxSize profileImageStyle img-thumbnail" src="https://theofficeanalytics.files.wordpress.com/2017/11/dwight.jpeg?w=1200" alt="" />
            <div class="pl-4">
                <h1 id="userName" class="pb-2"><a class="text-light" href="#">[name of thread]</a></h1>
                <div class="text-white">
                    [Name of Creator]
                    <span class="pr-2">&nbsp;</span>
                    [Topic]
                </div>
            </div>
            <div class="d-flex favoritesContainer justify-content-end text-light">
                <a class="mt-2 editProfileButton btn text-dark btn-light btn-md active" role="button" aria-pressed="true" href="#">Favorite this?</a>
            </div>
        </div>
    </article>

    <article id="[thread name]" class="bg-secondary profileContainer mb-3">
        <div class="innerContentContainer d-flex p-4 text-light">
            <img class="maxSize profileImageStyle img-thumbnail" src="https://theofficeanalytics.files.wordpress.com/2017/11/dwight.jpeg?w=1200" alt="" />
            <div class="pl-4">
                <h1 id="userName" class="pb-2"><a class="text-light" href="#">[name of thread]</a></h1>
                <div class="text-white">
                    [Name of Creator]
                    <span class="pr-2">&nbsp;</span>
                    [Topic]
                </div>
            </div>
            <div class="d-flex favoritesContainer justify-content-end text-light">
                <a class="mt-2 editProfileButton btn text-dark btn-light btn-md active" role="button" aria-pressed="true" href="#">Favorite this?</a>
            </div>
        </div>
    </article>

    <article id="[thread name]" class="bg-secondary profileContainer mb-3">
        <div class="innerContentContainer d-flex p-4 text-light">
            <img class="maxSize profileImageStyle img-thumbnail" src="https://theofficeanalytics.files.wordpress.com/2017/11/dwight.jpeg?w=1200" alt="" />
            <div class="pl-4">
                <h1 id="userName" class="pb-2"><a class="text-light" href="#">[name of thread]</a></h1>
                <div class="text-white">
                    [Name of Creator]
                    <span class="pr-2">&nbsp;</span>
                    [Topic]
                </div>
            </div>
            <div class="d-flex favoritesContainer justify-content-end text-light">
                <a class="mt-2 editProfileButton btn text-dark btn-light btn-md active" role="button" aria-pressed="true" href="#">Favorite this?</a>
            </div>
        </div>
    </article>

    <article id="[thread name]" class="bg-secondary profileContainer mb-3">
        <div class="innerContentContainer d-flex p-4 text-light">
            <img class="maxSize profileImageStyle img-thumbnail" src="https://theofficeanalytics.files.wordpress.com/2017/11/dwight.jpeg?w=1200" alt="" />
            <div class="pl-4">
                <h1 id="userName" class="pb-2"><a class="text-light" href="#">[name of thread]</a></h1>
                <div class="text-white">
                    [Name of Creator]
                    <span class="pr-2">&nbsp;</span>
                    [Topic]
                </div>
            </div>
            <div class="d-flex favoritesContainer justify-content-end text-light">
                <a class="mt-2 editProfileButton btn text-dark btn-light btn-md active" role="button" aria-pressed="true" href="#">Favorite this?</a>
            </div>
        </div>
    </article>

    <article id="[thread name]" class="bg-secondary profileContainer mb-3">
        <div class="innerContentContainer d-flex p-4 text-light">
            <img class="maxSize profileImageStyle img-thumbnail" src="https://theofficeanalytics.files.wordpress.com/2017/11/dwight.jpeg?w=1200" alt="" />
            <div class="pl-4">
                <h1 id="userName" class="pb-2"><a class="text-light" href="#">[name of thread]</a></h1>
                <div class="text-white">
                    [Name of Creator]
                    <span class="pr-2">&nbsp;</span>
                    [Topic]
                </div>
            </div>
            <div class="d-flex favoritesContainer justify-content-end text-light">
                <a class="mt-2 editProfileButton btn text-dark btn-light btn-md active" role="button" aria-pressed="true" href="#">Favorite this?</a>
            </div>
        </div>
    </article>
</section>


