
@{
    ViewData["Title"] = "View Blog";
}

<section>
    <div class="profileDetails my-5">
        <div class="d-flex mb-4">
            <img class="maxSize profileImageStyle img-thumbnail" src="https://theofficeanalytics.files.wordpress.com/2017/11/dwight.jpeg?w=1200" alt="" />
            <div class="pl-4">
                <h1 id="userName" class="pb-2 text-dark">
                    <a>[name of thread]</a>
                </h1>
                <div class="text-dark">
                    [Name of Creator]
                    <span class="pr-2">&nbsp;</span>
                    [Topic]
                </div>
            </div>
        </div>
        <div class="text-dark">
            <b>Bio</b>
            <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh 
            euismod tinLorem ipsum dolor sit amet, </p>
        </div>
    </div>

    <div>
        <h3 class="mb-2">Posts</h3>

        <div class="overflow-auto mb-5">
            <div class="text-light darkParagraphBackground p-4">
                <h1 class="postTitle">[post title]</h1>
                <p class="pageParagraph"> [post content]</p>
                <div class="d-flex flex-row">
                    <p class="digitalSignature">Posted on [time stamp]</p>
                </div>
            </div>
            <form asp-action="" asp-controller="">
                <fieldset>
                    <button type="submit" class="btn btn-link text-dark">Reply</button>
                </fieldset>
            </form>
        </div>

        <div class="overflow-auto mb-5">
            <div class="text-light darkParagraphBackground p-4">
                <h1 class="postTitle">[post title]</h1>
                <p class="pageParagraph"> [post content]</p>
                <div class="d-flex flex-row">
                    <p class="digitalSignature">Posted on [time stamp]</p>
                </div>
            </div>
            <form asp-action="" asp-controller="">
                <fieldset>
                    <button type="submit" class="btn btn-link text-dark">Reply</button>
                </fieldset>
            </form>
        </div>

        <div class="overflow-auto mb-5">
            <div class="text-light darkParagraphBackground p-4">
                <h1 class="postTitle">[post title]</h1>
                <p class="pageParagraph"> [post content]</p>
                <div class="d-flex flex-row">
                    <p class="digitalSignature">Posted on [time stamp]</p>
                </div>
            </div>
            <form asp-action="" asp-controller="">
                <fieldset>
                    <button type="submit" class="btn btn-link text-dark">Reply</button>
                </fieldset>
            </form>
        </div>

        <div class="overflow-auto mb-5">
            <div class="text-light darkParagraphBackground p-4">
                <h1 class="postTitle">[post title]</h1>
                <p class="pageParagraph"> [post content]</p>
                <div class="d-flex flex-row">
                    <p class="digitalSignature">Posted on [time stamp]</p>
                </div>
            </div>
            <form asp-action="" asp-controller="">
                <fieldset>
                    <button type="submit" class="btn btn-link text-dark">Reply</button>
                </fieldset>
            </form>
        </div>

        <div class="overflow-auto mb-5">
            <div class="text-light darkParagraphBackground p-4">
                <h1 class="postTitle">[post title]</h1>
                <p class="pageParagraph"> [post content]</p>
                <div class="d-flex flex-row">
                    <p class="digitalSignature">Posted on [time stamp]</p>
                </div>
            </div>
            <form asp-action="" asp-controller="">
                <fieldset>
                    <button type="submit" class="btn btn-link text-dark">Reply</button>
                </fieldset>
            </form>
        </div>

        <div class="overflow-auto mb-5">
            <div class="text-light darkParagraphBackground p-4">
                <h1 class="postTitle">[post title]</h1>
                <p class="pageParagraph"> [post content]</p>
                <div class="d-flex flex-row">
                    <p class="digitalSignature">Posted on [time stamp]</p>
                </div>
            </div>
            <form asp-action="" asp-controller="">
                <fieldset>
                    <button type="submit" class="btn btn-link text-dark">Reply</button>
                </fieldset>
            </form>
        </div>

        <div class="overflow-auto mb-5">
            <div class="text-light darkParagraphBackground p-4">
                <h1 class="postTitle">[post title]</h1>
                <p class="pageParagraph"> [post content]</p>
                <div class="d-flex flex-row">
                    <p class="digitalSignature">Posted on [time stamp]</p>
                </div>
            </div>
            <form asp-action="" asp-controller="">
                <fieldset>
                    <button type="submit" class="btn btn-link text-dark">Reply</button>
                </fieldset>
            </form>
        </div>

        <div class="overflow-auto mb-5">
            <div class="text-light darkParagraphBackground p-4">
                <h1 class="postTitle">[post title]</h1>
                <p class="pageParagraph"> [post content]</p>
                <div class="d-flex flex-row">
                    <p class="digitalSignature">Posted on [time stamp]</p>
                </div>
            </div>
            <form asp-action="" asp-controller="">
                <fieldset>
                    <button type="submit" class="btn btn-link text-dark">Reply</button>
                </fieldset>
            </form>
        </div>

    </div>
</section>

